# KineticWork Starter Template
# ──────────────────────────────────────────────────────────────────────────────

# Package Manager
package-manager-strict=true
engine-strict=true

# Node.js
use-node-version=22.0.0

# Dependencies
hoist=false
strict-peer-dependencies=false